.ingredient_card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 272px;
}

.ingredient_picture {
    width: 240px;
    cursor: pointer;
}

.ingredient_counter {
    position: absolute;
    top: 0;
    right: 5px;
    height: 32px;
    width: 32px;
    background-color: rgba(76, 76, 255, 1);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingredient_value {
    display: flex;
    justify-content: start;
}