.inputs_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs_text_container {
    display: flex;
}

.inputs_text {
    color: rgba(133, 133, 173, 1);
}

.inputs_link {
    color: rgba(76, 76, 255, 1);
    text-decoration: none;
    margin: 0 0 0 10px;
}