.ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredients_title {
    align-self: flex-start;
}

.ingredients_types_menu {
    display: flex;
}

.ingredients_container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 70vh;
}

.ingredients_type {
    display: flex;
    flex-direction: column;
}

.ingredients_type_title {
    align-self: flex-start;
}

.ingredients_cards {
    display: grid;
    grid-template-columns: repeat(2, 272px);
    grid-template-rows: auto;
    row-gap: 32px;
    column-gap: 24px;
}

.ingredients_link {
    text-decoration: none;
    color: rgba(242, 242, 243, 1);
}