.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgba(28, 28, 33, 1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: start;
}

.menu_item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.profile_item {
    display: flex;
    justify-content: end;
    align-self: center;
    width: 350px;
    text-decoration: none;
}

.text {
    color: rgba(242, 242, 243, 1);
    text-decoration: none;
}